{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock title %}

{% block body %}
    <main role="main" class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('img/padawan.jpg') }}" width="50%" alt="">
                    <p class="lead">Apprenez à coder avec des vrais projets.</p>
                    <a class="btn btn-dark" href="">Devenir un Padawan</a>
                    <a class="btn btn-outline-dark" href="">Déposer un projet</a>
                </div>

            </div>
        </div>
    </main>
{% endblock body %}
